MPESA_ENV=production
MPESA_CONSUMER_KEY=cdT09VaBNzf3iHF5gzhiDQHbylrlqL1TYGPAZJjsTrBrE9YJ
MPESA_CONSUMER_SECRET=nSmdWzJ7hlvxPDP7toCq4oQ7VT0UGyvHMsGAhdsAw37XkOtRHOarS2f5F2srGK9h
MPESA_SHORTCODE=969616
MPESA_PASSKEY=1c193931128dafb596282b40466abb59d20373f6c72563d0174f28c7266ad77d
MPESA_CALLBACK_URL=https://pay.joritechsystems.co.ke/mpesa/callback
JORITECH_BASE_URL=https://bulksms.joritechsystems.co.ke
JORITECH_API_KEY=41c7e1c25d763bb6315861ff15112f13
JORITECH_PARTNER_ID=15451
PORT=3000
